.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

.header-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: radial-gradient(circle farthest-corner at 100% 50%, #21d4fd, #b721ff);
  color: #fff;
}

.content-section {
  padding-top: 25px;
  padding-bottom: 50px;
}

.book-grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.book {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}

.book-gradient {
  position: relative;
  background-image: radial-gradient(circle farthest-corner at 50% 100%, #21d4fd, #b721ff);
}

.book-classics {
  display: -ms-grid;
  display: grid;
  padding: 15px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fff;
  color: #dd8858;
  font-weight: 700;
}

.book-info {
  padding: 40px 20px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.book-author {
  font-size: 26px;
  font-weight: 600;
}

.book-title {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
}

.div-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-new-book {
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #b721ff;
  color: #fff;
  cursor: pointer;
}

.add-new-book:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.title-section {
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #fff;
}

.pages-block {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.read-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #3cc26f;
  color: #fff;
  cursor: pointer;
}

.read-button:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.read-button.not {
  background-color: #202522;
}

.remove-book {
  position: absolute;
  left: auto;
  top: -8%;
  right: -3%;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 999px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.remove-book:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.new-book-section {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.81);
}

.new-book-form-container {
  width: 70%;
  max-width: 700px;
  padding: 40px 4%;
  border-radius: 3px;
  background-color: #fff;
}

.text-field {
  margin-top: 10px;
  border-radius: 3px;
}

.submit-button {
  margin-top: 20px;
  border-radius: 3px;
  background-color: #b721ff;
}

.form {
  margin-top: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0px;
}

.checkbox.w--redirected-checked {
  background-color: #b721ff;
}

.checkbox-label {
  margin-left: 9px;
}

.checkbox-field {
  margin-top: 20px;
}

.close-new-book {
  position: absolute;
  left: auto;
  top: 3%;
  right: 3%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 999px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.close-new-book:hover {
  background-color: rgba(0, 0, 0, 0.81);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 991px) {
  .new-book-form-container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
}

#w-node-499a4375e839-4e3ad33f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-ee0745258959-4e3ad33f {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-5e50c1daa796-4e3ad33f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-5e50c1daa799-4e3ad33f {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-8704d1b01bb4-4e3ad33f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  #w-node-5e50c1daa793-4e3ad33f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}